<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/amazon-logo-s3f.png" />
	
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Playfair+Display&family=Raleway:wght@100&family=Work+Sans:wght@100;400&display=swap">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jacquard+24&family=Open+Sans:ital@1&family=Playfair+Display&family=Raleway:wght@100&family=Work+Sans:wght@100;400&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jacquard+24&family=Open+Sans:ital@1&family=Playfair+Display&family=Raleway:wght@100&family=Work+Sans:wght@100;400&display=swap" rel="stylesheet">
	<!-- Bootstrap Grid Stylesheet -->
	
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/css/app.css">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap-grid.min.css">
</head>
<body>
	<!-- Header -->
	<header class="main-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-5 col-md-2">
					<a href="/" class="main-header_home-link">
						<img class="headerImg" src="/images/amazon-logo-s3f.png">
					</a>
				</div>
	
				<div class="col-7 col-md-6">
					<form action="/search" method="GET" class="search-form">
						<input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
						<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>
	
				<div class="col-12 col-md-4">
					<a class="main-header_credit-link">
						<i class="fas fa-hand-holding-usd"></i>
						Todas las opiniones en un solo lugar.
					</a>
				</div>
			</div>
			<button class="btn-toggle-navbar">
				<i class="fas fa-bars"></i>
			</button>
			<nav class="main-navbar">
				<ul class="left-navbar">
					<li><a class="etiqheader index-titleMain" href="/">Todos los productos</a></li>
					<!-- solo logueado <li><a href="">Cargar productos</a></li> -->
				</ul>
					<% if(locals.user){ %>
						<h2 class="text-center mb-3">Hola: <%= usuario.usuario %></h2>
						<form action="/login/logout" method="POST" class="d-flex justify-content-center">
							<button type="submit" class="btn btn-danger">Logout</button>
						</form>
						<a href="/usuarios/profile/edit/<%= usuario.id %>" class="btn btn-primary">Editar perfil</a>
						<a href="/productos/productoagregado" class="btn btn-primary">Agregar producto</a>
						<% } else { %>
							<div class="d-flex justify-content-center mb-3">
								<a href="/login" class="btn btn-success mx-2">Ingresar</a>
								<a href="/register" class="btn btn-success mx-2">Registrate</a>
							</div>
						<% } %>
				

	
				</ul>
			</nav>
		</div>
	</header>

<!-- Datos del usuario -->
<section class="info-usuario container products-wrapper">
    <div class="row">
        <div class="img-container offset-3 col-2">
		
			<img src="/images/users/<%= usuario.foto %>" alt="Imagen de perfil">

        </div>
        <div class="data-container col-6">
            <div class="d-flex align-items-center ">
                <h1 class="main-title"><%= usuario.usuario %> 
                </h1>
                <a class="btn mt-3 ml-4" href="">SEGUIR</a>
            </div>
            <div>
                <p>Email: <%= usuario.email %></p>
					<ul class="">
						<li><%= cantidadProductos %> productos publicados</li>
						<li>3k seguidores</li>
						<li><%= cantidadComentarios %> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">productos</h2>
			</div>
	
			<% if (cantidadProductos && cantidadProductos > 0) { %>
				<% for(let i = cantidadProductos - 1; i >= 0; i--) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/productos/<%= productos[i].id %>">
								<figure class="product-box_image">
									<img src="/images/products/<%= productos[i].imagen %>" alt="<%= productos[i].producto %>">
								</figure>
								<article class="product-box_data">
									<h2><%= productos[i].producto %></h2>
									<p><%= productos[i].descripcion %></p>
								</article>
							</a>
						</section>
					</div>
				<% } %>
			<% } else { %>
				<div class="col-12">
					<section class="product-box">
						<h3>No hay productos publicados de <%= usuario.usuario %></h3>
					</section>
				</div>
			<% } %>
		</div>
	</div>

	
<%- include('./partials/footer') %>