<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<div class="container products-wrapper">
				<div class="row">
					
					<%for (let i = 0; i < 8 && i < productos.length; i++) { %>
					<!-- Show the "ultimos" products -->
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/productos">
								<figure class="product-box_image">
									<img src="<%= productos[i].imagen %>" >
								
								</figure>
								<article class="product-box_data">
									<h2><%= productos[i].producto %></h2>
									<p><%= productos[i].descripcion %></p>
									<p>Comentarios: <%= productos[i].texto_comentario %></p>
								</article>
							</a>
					
						</section>
					</div>
					<%}%>


	
<%- include('./partials/footer') %>